<b:if cond='data:blog.pageType == &quot;index&quot;'>
  <div itemscope='itemscope' itemtype='http://schema.org/Blog' style='display: none;'>
    <meta expr:content='data:blog.title' itemprop='name'/>
    <b:if cond='data:blog.metaDescription'>
      <meta expr:content='data:blog.metaDescription' itemprop='description'/>
    </b:if>
  </div>
</b:if>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header ">

  {% include head.html %}

  <b:section id='header' showaddelement="yes">
  </b:section>

  <div class="mdl-layout__content">

    {% include main.html %}

    {% include footer.html %}

  </div>

</div>

<script type='text/javascript'>
  window.setTimeout(function() {
      document.body.className = document.body.className.replace(&#39;loading&#39;, &#39;&#39;);
    }, 10);
</script>
