<div class="header mdl-layout__header mdl-layout__header--waterfall mdl-layout--no-desktop-drawer-button">
  <div class="mdl-layout__header-row layout-header">
    <span class="title mdl-layout-title" style="color: rgb(135,135,135);">
      <data:blog.title/>
    </span>
    <span class="mobile-title mdl-layout-title" style="color: rgb(135,135,135);">
      <data:blog.title/>
    </span>

    <div class="mdl-layout-spacer"></div>

    <div class="navigation-container">
      <nav class="navigation mdl-navigation">
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Home</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">About</a>
        <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Contact</a>
      </nav>
    </div>

  </div>
</div>

<div class="mdl-layout__drawer">
  <span class="mdl-layout-title" style="color: rgb(135,135,135);">
    <data:blog.title/>
  </span>
  <nav class="drawer mdl-navigation">
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Home</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">About</a>
    <a class="mdl-navigation__link mdl-typography--text-uppercase" href="">Contact</a>
  </nav>
</div>
