<a name="top"></a>
<div class="hero-section ">
  <div class="mdl-typography--text-justify">
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--1-offset-desktop mdl-cell--0-offset-tablet mdl-cell--10-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
        <div class="mdl-grid" style="margin:0; padding:0;">
          <div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--4-col-phone">
            <div class="abt-cont">
              <div class="img-circular" style="background-image: url('{{ site.url }}/assets/sd.jpg');"></div>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--9-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div style="padding-top: 5vw;">
              <h2 class="run">Hello am Shashi! Welcome to My Blog!</h2>
              <h3 class="run1">EE Sophomore at IIT Kanpur. I love to do programming, pencil sketching, play badminton, study physics, reading novels.</h3>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="post-section mdl-typography--text-justify">
  <div class="post-grid mdl-grid">

    <div class="post-content post-grid mdl-cell mdl-cell--1-offset-desktop mdl-cell--0-offset-tablet mdl-cell--7-col mdl-cell--6-col-tablet mdl-cell--4-col-phone">
      <b:section class='main' id='main' name='Main' showaddelement='no'>

        <b:widget id='AdSense0' locked='false' title='' type='AdSense'>
          <b:includable id='main'>
            <div class="post-card mdl-card adsensec" style="margin-bottom: 20px;">
              <data:adCode/>
              <b:include name='quickedit'/>
            </div>
          </b:includable>
        </b:widget>

        <b:widget id='Blog1' locked='true' title='Blog Posts' type='Blog'>
          <b:includable id='main' var='top'>

            <b:loop var='post' values='data:posts'>
              <div class="post-card mdl-card" style="margin-bottom: 20px;">
                <div class="mdl-card__title  mdl-shadow--2dp">
                  <h2 class="mdl-card__title-text"><data:post.title/></h2>
                </div>
                <div class="mdl-card__supporting-text">
                  <data:post.body/>
                </div>

                <div class="mdl-card__actions mdl-card--border">
                  <b:if cond='data:blog.pageType not in {&quot;item&quot;,&quot;static_page&quot;}'>
                    <a expr:href="data:post.url" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                      Read More
                    </a>
                  </b:if>
                  <b:if cond='data:blog.pageType in {&quot;item&quot;,&quot;static_page&quot;}'>
                    <a expr:href="data:blog.homepageUrl" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                      Back
                    </a>
                  </b:if>
                  <div class="mdl-layout-spacer"></div>
                  <button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" disabled="" style="color: #717171">
                    <data:post.timestamp/>
                  </button>
                </div>
              </div>
            </b:loop>

            <div class="paginator-btn" style="margin-bottom: 20px;">
              <b:if cond='data:olderPageUrl'>
          	    <a expr:href="data:olderPageUrl" class="previous">
          	    	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          	         Prev
          	      </button>
          	    </a>
              </b:if>
              <b:if cond='!data:olderPageUrl'>
          	    <button class="mdl-button mdl-js-button mdl-button--raised" disabled="">
          			     Prev
          		  </button>
          	  </b:if>
        	  <div class="mdl-layout-spacer"></div>
          	  <b:if cond='data:newerPageUrl'>
          	    <a expr:href="data:newerPageUrl" class="next">
          	    	<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
          	          Next
          	      </button>
          	    </a>
          	  </b:if>
              <b:if cond='!data:newerPageUrl'>
          	    <button class="mdl-button mdl-js-button mdl-button--raised" disabled="">
          			     Next
          		  </button>
          	  </b:if>
            </div>

            <b:if cond='data:blog.pageType in {&quot;item&quot;,&quot;static_page&quot;}'>
                    <div class="comment-card post-card mdl-card" style="margin-bottom: 20px;">
                      <div id="disqus_thread"></div>
                  <script>

                  /**
                  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
                  /*
                  var disqus_config = function () {
                  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
                  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                  };
                  */
                  (function() { // DON'T EDIT BELOW THIS LINE
                  var d = document, s = d.createElement('script');
                  s.src = 'https://shashiblog-1.disqus.com/embed.js';
                  s.setAttribute('data-timestamp', +new Date());
                  (d.head || d.body).appendChild(s);
                  })();
                  </script>
                  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    </div>
            </b:if>

          </b:includable>
        </b:widget>

        <b:widget id='AdSense1' locked='false' title='' type='AdSense'>
          <b:includable id='main'>
            <div class="post-card mdl-card adsensec">
              <data:adCode/>
              <b:include name='quickedit'/>
            </div>
          </b:includable>
        </b:widget>

      </b:section>

    </div>

    <div class="post-content post-grid mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--4-col-phone">
      <b:section id='right-sidebar' class="right-sidebar" showaddelement="yes">
      <b:widget id='BlogArchive0' mobile='yes' locked='true' type='BlogArchive'>
       <b:widget-settings>
         <b:widget-setting name='showStyle'>HIERARCHY</b:widget-setting>
         <b:widget-setting name='yearPattern'>yyyy</b:widget-setting>
         <b:widget-setting name='showWeekEnd'>true</b:widget-setting>
         <b:widget-setting name='monthPattern'>MMMM</b:widget-setting>
         <b:widget-setting name='dayPattern'>MMM dd</b:widget-setting>
         <b:widget-setting name='weekPattern'>MM/dd</b:widget-setting>
         <b:widget-setting name='chronological'>false</b:widget-setting>
         <b:widget-setting name='showPosts'>true</b:widget-setting>
         <b:widget-setting name='frequency'>MONTHLY</b:widget-setting>
       </b:widget-settings>
       <b:includable id='main'>
         <div class="post-card">
           <div class="mdl-card__title">
             <h2 class="mdl-card__title-text"><data:title/></h2>
           </div>
           <div class="mdl-card__supporting-text">
             <div id='ArchiveList'>
             <div expr:id='data:widget.instanceId + &quot;_ArchiveList&quot;'>
              <b:include cond='data:style == &quot;HIERARCHY&quot;' data='data' name='interval'/>
              <b:include cond='data:style == &quot;FLAT&quot;' data='data' name='flat'/>
              <b:include cond='data:style == &quot;MENU&quot;' data='data' name='menu'/>
             </div>
             </div>
             <b:include name='quickedit'/>
           </div>
         </div>
      </b:includable>
      <b:includable id='flat' var='data'>
        <ul class='flat'>
         <b:loop values='data:data' var='i'>
           <li class='archivedate'>
             <a expr:href='data:i.url'><data:i.name/></a> (<data:i.post-count/>)
           </li>
         </b:loop>
        </ul>
      </b:includable>
      <b:includable id='interval' var='intervalData'>
          <b:loop values='data:intervalData' var='interval'>
           <ul class='hierarchy'>
             <li expr:class='&quot;archivedate &quot; + data:interval.expclass'>
               <b:include cond='data:interval.toggleId' data='interval' name='toggle'/>
               <a class='post-count-link' expr:href='data:interval.url'>
                 <data:interval.name/>
               </a>
               <span class='post-count' dir='ltr'>(<data:interval.post-count/>)</span>
               <b:include cond='data:interval.data' data='interval.data' name='interval'/>
               <b:include cond='data:interval.posts' data='interval.posts' name='posts'/>
             </li>
           </ul>
          </b:loop>
      </b:includable>
      <b:includable id='menu' var='data'>
        <select expr:id='data:widget.instanceId + &quot;_ArchiveMenu&quot;'>
         <option value=''><data:title/></option>
         <b:loop values='data:data' var='i'>
           <option expr:value='data:i.url'><data:i.name/> (<data:i.post-count/>)</option>
         </b:loop>
        </select>
      </b:includable>
      <b:includable id='posts' var='posts'>
        <ul class='posts'>
         <b:loop values='data:posts' var='post'>
           <li><a expr:href='data:post.url'><data:post.title/></a></li>
         </b:loop>
        </ul>
      </b:includable>
      <b:includable id='toggle' var='interval'>
        <a class='toggle' href='javascript:void(0)'>
         <span expr:class='&quot;zippy&quot; + (data:interval.expclass == &quot;expanded&quot; ? &quot; toggle-open&quot; : &quot;&quot;)'>
           <b:if cond='data:interval.expclass == &quot;expanded&quot;'>
             &#9660;&#160;
           <b:elseif cond='data:blog.languageDirection == &quot;rtl&quot;'/>
             &#9668;&#160;
           <b:else/>
             &#9658;&#160;
           </b:if>
         </span>
        </a>
      </b:includable>
     </b:widget>
      </b:section>
    </div>

  </div>
</div>
